.cardDiv{
    margin: 40px;
    border: white;
    width: px;
    font-family: "Lora", serif;
    border: 2px solid rgb(139, 139, 139);
    padding: 10px;
    width: 270px;
    height: 415px;
    padding-bottom: 15px;
}
.cardImg{
    width: 250px;
    height: 200px;
    padding-bottom: 15px;
}
.cardTxt{
 
    overflow: hidden;
    display: -webkit-box;
  -webkit-line-clamp: 3; /* Show only 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardBtn{
    background-color: rgba(146, 146, 146, 0.156);
    border-radius: 10px;
    border: white;
    margin-left: 150px;
}
.catogary{
    text-align: center;
    font-size: 10px;
    color: gray;
    margin-top: -10px;
}
.time{
    text-align: center;
    font-size: 10px;
    color: gray;
    margin-top: -10px;
}
.title{
    text-align: center;
}








































