.navimg{
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.nav{
    display: flex;
    position: sticky;
    height: 50px;
    width: 100%;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    background-color: white;
    top: 0;
    z-index: 999;
}

.left{
    flex: 3;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left i{
    margin-left: 10px;
    font-size: 30px;
    color: #666;
    cursor: pointer;
}
.center{
    flex: 6;
}
 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 18;
    font-weight: 300;
}
.navbtn{
    margin-left: 20px;
    cursor: pointer;
}
.right{
    flex: 3;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
/* .right img{
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
} */
.right i{
    font-size: large;
    margin-left: 50px;
    cursor: pointer;

}
